* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 80%;
    margin: 20px auto;
}

/* logo */

header {
    background-color: white;
}


#logo {  
    margin-left: 10px;
    height: 70px;
    width: auto;
    line-height: 70px;
    vertical-align: middle;
}

#logo-text {
    font-size: 30px;
    
}

/* Nav */

.container-nav {
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#butt1 {
    margin-left: 50px;
    background-color: #09A9ED;
    padding: 5px;
    border-color:  #09A9ED;
    border-radius: 5px;
}

#butt2 {
    background-color: white;
    color: grey;
    border-color: grey;
    padding: 5px;
    border-radius: 5px;
}


/* Main */

.container-main {
    background-color: white;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

main {
    margin-left: 50px;
    padding: 10px;
    padding-top: 15px;
}

h3 {
    margin-top: 20px;
   ;
}

span {
    line-height: 2;
}

.edi {
    background-color: #09A9ED;
}

.Q1 {
    background-color: #AB5DE6;
    
}

.recr {
    background-color: #2CC6AB;
}

.mob {
    background-color: #FF9B00;
}

.web {
    background-color: #EC4A9D;
}

.sale {
    background-color: #A3D116;
}

.categoria {
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    font-size: 10px;
}

.freccia::before {
    content: "\25bc";
}

.fatto::before {
  content: "\2713";
  font-size: 10px;
  margin-bottom: 2px;
  border: solid 1px ;
  color: rgb(14, 190, 14);
  margin-right: 10px;
  padding: 4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  line-height: 10px;
  
}

.nonFatto::before {
  content: "\2717";
  font-size: 10px;
  margin-bottom: 2px;
  border: solid 1px ;
  color: red ;
  margin-right: 10px;
  padding: 4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  line-height: 10px;
  
}

