* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo */

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: white;
}

#logo {  
    margin-left: 10px;
}

#logo-text {
    font-size: 30px;
}

/* Nav */

.container-nav {
    background-color: white;
    margin-top: 30px;
    padding: 10px;
}

#butt1 {
    margin-left: 50px;
    background-color: rgb(108, 178, 236);
    padding: 5px;
    border-color:  rgb(108, 178, 236);
    border-radius: 5px;
}

#butt2 {
    background-color: white;
    color: grey;
    border-color: grey;
    padding: 5px;
    border-radius: 5px;
}

